# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.so
.pytest_cache/


# Virtual environments
.venv/
venv/
env/
.env

# Mac
*.swp
.DS_Store

# AoC input
input.txt

# VS Code configuration
.vscode/